/* Mobile first design */
<meta name="viewport" content="width=device-width, initial-scale=1">

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
  margin: 20px auto;
  width: 90%;
}

.preview-baku {
  background-image: url(https://github.com/designhawg/css-exercise-four/blob/master/images/baku.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: contain;
}

.preview-london {
  background-image: url(https://github.com/designhawg/css-exercise-four/blob/master/images/london.png?raw=true);
  background-repeat: no-repeat;
  background-size: contain;
}

.preview-madrid {
  background-image: url(https://github.com/designhawg/css-exercise-four/blob/master/images/madrid.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: contain;
}

.preview-rome {
  background-image: url(https://github.com/designhawg/css-exercise-four/blob/master/images/rome.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: contain;
}

div {
  float: left;
  margin: 1% 0;
  width: 100%;
  padding: 20px 25px;
}

/* Media Querie for tablets and large smartphones */
@media screen and (min-width: 575px) {
  div {
    margin: 1%;
    width: 48%;
  }
}

/* Media Querie for laptops */
@media screen and (min-width: 991px) {
  div {
    margin: 1%;
    width: 23%;
  }
}
